urlobject
huggingface_hub[cli]>=0.23
di-toolkit
click
pandas
tabulate
pyquery
pyrfc6266
orator
dateparser
lxml<5
hfutils[rar,7z]>=0.3.8
pyquery
markdownify
xmltodict
tzlocal
pyarrow
cryptography
pyyaml>=6
langdetect
pynacl
tqdm
hbutils
requests
